---
---

@import "https://fonts.googleapis.com/css?family=Roboto+Mono|Montserrat|Permanent+Marker|Inconsolata";

$primary-font: "Inconsolata";
$display-font: "Montserrat";
$alt-font: "Inconsolata";

// the following switches between a flat, modern design
// and a design with some subtle shadows
$material: false;

body {
  font-family: $primary-font;
  font-size: 2rem;
  color: #555;
  @if $material {
    background-color: #fafafa;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font: {
    family: $display-font;
    weight: 700;
  };
  margin: 0;
}

ul {
  list-style: disc;
  padding: 1rem;
}

.social-ul {
  list-style-type: none;
  font-family: "Roboto Mono";
  font-size: 1.7rem;

  & li {
    display: inline;
  }

  a {
    text-decoration: none;
    color: #777;
    transition: color .2s;

    &:hover {
      color: #000;
    }
  }
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

hr {
    @if $material {
        display: none;
    }
}

article {
  padding-top: 5px;

  & a {
    border-bottom: 2px solid #555;
    color: #555;
    transition: border-bottom-color .3s, color .3s;
  }

  & a:hover {
    border-bottom: 2px solid #000;
    color: #000;
  }
}

.container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.post {
  background-color: #fff;
  border-radius: 2px;
  padding: 2rem;
  margin-bottom: 2rem;
  @if $material {
    box-shadow: 0 1px 1px 0 #ddd;
  }
}

.post-link {
    color: #444;
    transition: color .3s;
    &:hover {
        color: #000;
    }
}

.post-content, .post-excerpt {
  h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-family: $alt-font;
    margin: 1rem 0;
    font-size: 2.2rem;
    text-transform: uppercase;
  }

  img {
      margin: 3rem;
      max-width: 90%;
      height: auto;
      display: block;
      border-radius: 3px;
      box-shadow: 0px 15px 102px -10px rgba(0,0,0,0.75);
  }
}

.post-meta {
  margin-bottom: 2rem;
  font-size: 80%;
}

.text-align {
  &.right {
    text-align: right;
  }

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }
}

.page-heading {
  font-size: 7rem;
  font-family: "Permanent Marker";
}

.page-header {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.page-home {
  transition: color .3s;
  &:hover {
      color: #000;
  }
}


@media screen and (max-width: 410px) {
  .page-heading {
    font-size: 6rem;
  }
}
