---
layout: default
---
<div class="container">
    <div class="ten columns offset-by-one">
        <hr>
        <section class="post">
            <header class="post-header">
                <h1 class="post-title">
                    {{ page.title }}
                </h1>
                <span class="post-meta">
                    Posted on {{ page.date | date: "%b %-d, %Y" }} • <a href="{{site.baseurl}}{{ page.url }}#disqus_thread">Comment</a> {% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
                </span>
            </header>
            <article class="post-content">
                {{ content }}
            </article>
        </section>
        <hr>
    </div>
    <div class="ten columns offset-by-one" id="disqus_thread"></div>
    <script>
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//kbrgl.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
<script id="dsq-count-scr" src="//kbrgl.disqus.com/count.js" async></script>

